In [1]:
import pandas as pd

df = pd.read_csv("Cities.csv")
df.head()

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,Khromtau,50.2503,58.4347,79.86,30,100,4.16,KZ,1658642889
1,Kosmynino,57.5818,40.7643,74.68,55,0,6.46,RU,1658642889
2,Hobart,-42.8794,147.3294,59.25,79,75,4.61,AU,1658642709
3,Albany,42.6001,-73.9662,73.44,70,52,2.82,US,1658642748
4,Zhigansk,66.7697,123.3711,64.96,59,33,9.75,RU,1658642890

In [2]:
df.to_html("Cities_Dataset.html")